<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>{% block title %} {% endblock %}</title>
    <style media="screen">
      {% block css %}

      {% endblock %}
        body {
            font-family:Palatino;
        }
    </style>
  </head>
  <body>
    {% load static %}


    <nav class="navbar navbar-dark  navbar-expand-lg navbar-light bg-dark  sticky-top  ">
      <a class="navbar-brand" href="#">
        <img src="https://i.pinimg.com/originals/26/5b/11/265b1184cdfc341d454d2e9d1e94795f.jpg" width="30" height="30" alt="" loading="lazy">
      </a>

   <a class="navbar-brand" href="#">
     <img src="" width="30" height="30" alt="" loading="lazy">
   </a>
      <a class="navbar-brand" href="{% url 'homePage' %}">Sh@reNet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-tabs">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'homePage' %}">Home <span class="sr-only">(current)</span></a>
          </li>
            {% if loggedin %}
          <li class="nav-item active">
         <a class="nav-link" href="{% url 'discoverPage' %}">Discover Requests</a>      <!--this will be the discover html that i made  -->
          </li>
                <li class="nav-item active">
         <a class="nav-link" href="{% url 'discoverPage2' %}">Discover Items</a>      <!--this will be the discover html that i made  -->
          </li>
            {% endif %}
    </ul>


          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
                {% if loggedin %}
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Item Requests
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="{% url 'viewitemrequests' %}">My Item Requests</a>
           <a class="dropdown-item" href="{% url 'display' %}">Search Item Requests</a>
           <!--<a class="dropdown-item" href="{% url 'submit' %}">Add Item</a>-->
         </div>
        </li>
                    <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Items
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="{% url 'itemViewPage' %}"> My Items</a>
           <a class="dropdown-item" href="{% url 'itemSearch' %}"> Search Items</a>
           <!--<a class="dropdown-item" href="{% url 'submit' %}">Add Item</a>-->
         </div>
        </li>
            <li class="nav-item dropdown active">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Organizations
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <!--<a class="dropdown-item" href="{% url 'login' %}">Login</a>-->
           <a class="dropdown-item" href="{% url 'profilePage' %}">My Organization</a>
           <a class="dropdown-item" href="{% url 'organizationSearch' %}">Search Organizations</a>
           <!--<div class="dropdown-divider"></div>-->
           <!--<a class="dropdown-item" href="{% url 'register' %}">Register</a>-->
          <!--<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>-->  <!--this will have to call the logout function -->
         </div>
                {% endif %}
       </li>

            {% if not loggedin %}
            <li class="nav-item active">

             <a class="nav-link" href="{% url 'login' %}"><svg aria-label="Profile" class="_8-yf5 " fill="#ffffff" height="16" viewBox="0 0 32 32" width="16"><path d="M16 0C7.2 0 0 7.1 0 16c0 4.8 2.1 9.1 5.5 12l.3.3C8.5 30.6 12.1 32 16 32s7.5-1.4 10.2-3.7l.3-.3c3.4-3 5.5-7.2 5.5-12 0-8.9-7.2-16-16-16zm0 29c-2.8 0-5.3-.9-7.5-2.4.5-.9.9-1.3 1.4-1.8.7-.5 1.5-.8 2.4-.8h7.2c.9 0 1.7.3 2.4.8.5.4.9.8 1.4 1.8-2 1.5-4.5 2.4-7.3 2.4zm9.7-4.4c-.5-.9-1.1-1.5-1.9-2.1-1.2-.9-2.7-1.4-4.2-1.4h-7.2c-1.5 0-3 .5-4.2 1.4-.8.6-1.4 1.2-1.9 2.1C4.2 22.3 3 19.3 3 16 3 8.8 8.8 3 16 3s13 5.8 13 13c0 3.3-1.2 6.3-3.3 8.6zM16 5.7c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm0 11c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z"></path></svg> Log in</a>
            </li>
                {% else %}
                <li class="nav-item active">
             <a class="nav-link" href="{% url 'logout' %}"><svg aria-label="Profile" class="_8-yf5 " fill="#ffffff" height="16" viewBox="0 0 32 32" width="16"><path d="M16 0C7.2 0 0 7.1 0 16c0 4.8 2.1 9.1 5.5 12l.3.3C8.5 30.6 12.1 32 16 32s7.5-1.4 10.2-3.7l.3-.3c3.4-3 5.5-7.2 5.5-12 0-8.9-7.2-16-16-16zm0 29c-2.8 0-5.3-.9-7.5-2.4.5-.9.9-1.3 1.4-1.8.7-.5 1.5-.8 2.4-.8h7.2c.9 0 1.7.3 2.4.8.5.4.9.8 1.4 1.8-2 1.5-4.5 2.4-7.3 2.4zm9.7-4.4c-.5-.9-1.1-1.5-1.9-2.1-1.2-.9-2.7-1.4-4.2-1.4h-7.2c-1.5 0-3 .5-4.2 1.4-.8.6-1.4 1.2-1.9 2.1C4.2 22.3 3 19.3 3 16 3 8.8 8.8 3 16 3s13 5.8 13 13c0 3.3-1.2 6.3-3.3 8.6zM16 5.7c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm0 11c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z"></path></svg> Log out</a>
            </li>
            {% endif %}

          </ul>


      </div>

    </nav>


    {% block body %} {% endblock %}

    <script type="text/javascript">
      {% block script %} {% endblock %}
    </script>

  <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  </body>
</html>
