{% extends 'basic.html' %}
{% block title %} Item Request Details {% endblock %}
{% load static %}
{% block css %}
    body{
    font-family:Palatino;

        background-image:url('https://images-ext-2.discordapp.net/external/1SKAtngIBG2e77gsxOJypx7Ps-ltesWeqDoTYpxKmbc/https/png.pngtree.com/thumb_back/fw800/background/20190830/pngtree-black-network-with-dots-on-white-background-image_310197.jpg');
      }
    .carditem{
    padding-top: 100px;
    padding-bottom:100px;

     }

     .card-img-top{
       height: auto;
        width: 400px;
    margin: 0 auto; /* Added /
        float: none; / Added /
        margin-bottom: 10px; / Added */
     }
    .container{
        text-align:center;
        align:center;
    }
    .card{

    margin: 0 auto; /* Added /
        float: none; / Added /
        margin-bottom: 10px; / Added */
    }


{% endblock %}
{% block body %}

      <div class="carditem ">
      <div class="card" style="width: 45rem; ">
        <img class="card-img-top" src="{{ item.item_image.url }}" alt="Image of {{ item.item_name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.item_name }} </h5>
            <p class="card-text">{{ item.item_description }} </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Type: Item Request </li>
          <li class="list-group-item">Organization: <a href="{% url 'organizationPage' item.item_organization.id%}" class="card-link">{{ item.item_organization }}</a></li>
          <li class="list-group-item">Reason: {{ item.item_reason }}</li>
          <li class="list-group-item">Quantity needed: {{ item.item_quantity }}</li>
          <li class="list-group-item">Category: {{ item.item_category }}</li>
          <li class="list-group-item">Sub Category: {{ item.item_subcategory }}</li>
          <li class="list-group-item">Start Date: {{ item.item_start_date }}</li>
          <li class="list-group-item">End Date: {{ item.item_end_date }}</li>
          <li class="list-group-item">Intent to return: {{ item.item_return }}</li>
        </ul>
          {% if sameuser %}
        <div class="card-body">
          <a href="{% url 'sendEmail' item.item_organization.id item.id%}" class="card-link">Send this item</a>
        </div>
          {% endif %}
      </div>
    </div>

    <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}
